@media(prefers-reduced-motion:no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #fff;
  color: black;
  font-family: Helvetica;
  margin:0;
  padding:0;
  overflow-x: hidden;
  overflow-y: auto;
}

#doc_title{
  color: #28282B;
  font-size: 40px;
  padding-left: 12px;
  font-weight: 200;
  border-bottom: 2px solid grey; 
  width: 328px;
  height: 50px;
  display: block;
  position: absolute;
  top: 5px;
}

.vl {
  margin-left: -62px;
  border-left: 2px;
  border: 1px solid grey;
  height: 100%;
  position: fixed;
  top: 0;
}

#navbar {
  left: 0;
  margin-top: -20px;
  overflow-y: auto;
  position:fixed;
  width: 340px;
  max-height: calc(100vh - 40px);
}

.nav-link {
  border: 0; 
  text-decoration:none;
  color: inherit;
  display: inline-block;
  position: relative;
  width: calc(100% - 20px);
  top:0;
  margin-left: 0;
  line-height: 40px;
  padding-left: 20px;
  font-family: Tahoma;
}

nav > ul > li {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid grey;
  height: 40px;
  width: 340px;
}

nav > ul {
  padding: 16px;
  padding-left:0;
  padding-top: 58px;
  margin: 0;
}

nav > ul > li:last-child {
  border-bottom: none;
}

main {
  display: block;
  margin-left: 400px;
  margin-right: 0;
  padding-bottom: 40px;
  top:0;
  color: #28282B;
}

.rigth_title {
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 100;
  margin-top: 40px;
}


.text {
  width: 95%;
  font-family: Helvetica; 
  margin-left: 20px; 
  line-height: 1.5;
}

.codes {
  background-color: #ECECEC;
  width: 95%;
  margin: 20px;
  padding: 2%;
  border-radius: 10px;
}